body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none; 
    color: black; 
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}
.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw; 
    max-width: 400px; 
    background-color: white;
    padding: 5vh;
    box-sizing: border-box;
    border-radius: 12px;
}
.lbl-title {
    font-family: 'Oswald';
    font-size: 38px;
}
 
.lbl-title:hover {
     -webkit-text-stroke: 2px black;
     font-family: 'Oswald';
     font-size: 38px;
     color: white;
}

#login-form input[type="password"] {
    width: 100%;
    padding: 12px, 36px, 12px, 12px;
    box-sizing: border-box;
}
#login-form input[type="email"] {
    width: 100%;
    padding: 12px, 36px, 12px, 12px;
    box-sizing: border-box;
}

#eyeicon {
    position: absolute;
    top: 20%;
    right: 4%;
}

.password-container{
    width: 300px;
    position: relative;
    margin-top: 20px;
}
.email-container{
    width: 300px;
    position: relative;
}

.textbox-em, .textbox-pw {
    padding-left: 15px;
    padding-right: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Hind+Siliguri';
    font-weight: 200;
    font-size: 18px;
    margin-bottom: -10px;
}

.lbl-login {
    padding-top:26px;
}

.btn-signup {
    font-family: 'Roboto';
    font-size: 19px;
    margin-top: 35px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 122px;
    padding-right: 122px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  
.btn-signup::after {
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      left: 0;
      top: 0;
      border-radius: 10px;
}
  
.btn-signup::before {
      content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    
  }
  
  @keyframes glowing {
      0% {background-position: 0 0;}
      50% {background-position: 400% 0;}
      100% {background-position: 0 0;}
  }
  
  .btn-signup::before {
      opacity: 1;
  }
  
  .btn-signup:active:after {
      background: transparent;
      
  }
  .btn-signup:active {
      color: #000;
      font-weight: bold;
  }

  #eyeicon  {
    padding-top:2px;
  }